body ul li{
    margin: 0;
    padding: 0;
}
body ul{
    margin: 0;
    padding: 0;
}

/* -------------------------- */
/* icon 底下選項 */
.header-icon{
    /* border: 2px solid red; */
    height: 100%;
}

.header-icon .iconMove{
    /* border: 2px solid blue; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon ul {
    /* border: 2px solid red; */
    flex-direction: column;
    align-items: flex-end;
    
}
.header-icon li{
    height: 100%;
}

/* 選單 style 設定 */
ul.drop-menu{
    position: absolute;
    right: 0%;
    z-index: 100;
    display: flex;
    align-items: center;
}

ul.drop-menu li a{
    color:black;
    font-size: 1.3rem;
    line-height: 2.3;
    width:100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
}

/* 選單出現跟消失 */
ul.drop-menu li{
    width:100%;
    display: none;
    /* 消失 */
}
li:hover > ul.drop-menu li{
    display: block;
    /* 出現 */
}

/* ======================================= */
/* MENU2 第二種特效 */
li:hover > ul.drop-menu.limenu-2{
    perspective: 1000px;
}
li:hover > ul.drop-menu.limenu-2 li{
    opacity: 0;
    transform-origin: top center;
    animation-name: limenu2;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.limenu-2 li:nth-child(1){
    /* animation-duration: 300ms; */
    animation-delay: 0;
}
li:hover > ul.drop-menu.limenu-2 li:nth-child(2){
    /* animation-duration: 600ms; */
    animation-delay: 150ms;
}
li:hover > ul.drop-menu.limenu-2 li:nth-child(3){
    /* animation-duration: 900ms; */
    animation-delay: 300ms;
}
li:hover > ul.drop-menu.limenu-2 li:nth-child(4){
    /* animation-duration: 1200ms; */
    animation-delay: 450ms;
}
li:hover > ul.drop-menu.limenu-2 li:nth-child(5){
    /* animation-duration: 1500ms; */
    animation-delay: 600ms;
    
}

@keyframes limenu2 {
    0%{
        opacity: 0;
        transform: rotateX(-90deg)
    }
    30%{
        transform: rotateX(60deg)
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg)
    }
}


/* ================================================= */
