@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

/* body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
} */

.bg {
  background: url('../img/thanuj-mathew-WxgACJnkCJ8-unsplash.jpg')
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

/* body img{
  position: absolute;
  width: 100%;
  z-index: -1;
  filter: blur(0px)
} */

body .loading-text{
  border: 2px solid red;
  font-size: 50px;
  color: #fff;
  /* color: black; */
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* .loading-text {
  font-size: 50px;
  color: #fff;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
} */